body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Titles */
#title {
  text-align: left;
}

/* Containers */
.container-fluid {
  padding: 3% 15% 0;
}

.container-fluid2 {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navigation bar styles */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  font-size: 1.3rem;
  padding: 18px;
}

.nav-link {
  font-weight: lighter;
}

/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Images */
.iphone-img {
  transform: rotate(25deg);
  height: 100%;
  width: 55%;
  margin-left: 40%;
  position: relative;
  top: 15%;
  right: 20%;
}

/* icons */
.fa-check-circle {
  color: #ef8172;
  font-size: 50px;
  margin-bottom: 15px;
}

.fa-bullseye {
  color: #ef8172;
  font-size: 50px;
  margin-bottom: 15px;
}

.fa-heart {
  color: #ef8172;
  font-size: 50px;
  margin-bottom: 15px;
}

.fa-check-circle:hover {
  color: #ff4c68;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}

/* Features */
#features {
  position: relative;
  z-index: 1;
  padding: 0 10%;
}

.row-features {
  padding: 10% 0;
}

.col-features {
  padding: 5%;
}

.col-features h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.col-features p {
  color: #8f8f8f;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.img-pebbles {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

@media (max-width:991px) {
  .iphone-img {
    position: static;
    transform: none;
    margin: auto;
  }

  #title {
    text-align: center;
  }
}

/* Footer */
#footer {
  padding: 8% 15% 2%;
}

.footer-icons {
  color: grey;
}

.icons-f {
  padding: 2px;
  margin: 15px 10px;
  font-size: 1.2rem;
  color: black;
}
